.invoice-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #106EBE;
    background-image: linear-gradient(135deg ,#1E3D65 , #106EBE);
    color: white;
    min-height: 100vh;
    padding: 0;
    text-align: center;
}

    .invoice-form form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 50px;
    }

    .invoice-form label {
        text-align: left;
        margin-bottom: -10px;
        font-size: 0.9rem;
        color: #ccc;
    }

    .invoice-form input {
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        outline: none;
    }

        .invoice-form input::placeholder {
            color: #ccc;
        }
