.time-planner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E3D65;
    color: white;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Style specyficzne dla TimePlanner */
.mantine-date-picker,
.mantine-time-picker {
    margin-bottom: 20px;
}

.calendar-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mantine-DatePicker-calendarHeaderLevel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.mantine-DatePicker-calendarHeaderControl {
    font-size: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .mantine-DatePicker-calendarHeaderControl:first-child {
        transform: rotate(90deg);
    }

    .mantine-DatePicker-calendarHeaderControl:last-child {
        transform: rotate(270deg);
    }

.time-slot-button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1 1 100px;
    text-align: center;
}

    .time-slot-button:hover {
        background-color: #ddd;
    }

    .time-slot-button.selected {
        background-color: #e63946;
        color: white;
        border-color: #e63946;
    }

.time-slots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
