.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie poziome */
   
    background-color: #106EBE; /* Tło strony */
    min-height: 100vh; /* Wysokość kontenera na pełen ekran */
    text-align: center;
    padding: 0; /* Zerowanie paddingu, jeśli istnieje */
    margin: 0; /* Zerowanie marginesów */
}


/* Sekcja z boxem */
.blue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #106EBE; /* Kolor tła boxu */
    color: white; /* Kolor tekstu w boxie */
    max-width: 70%; /* Szerokość boxu */
    padding: 0px;
    border-radius: 15px; /* Zaokrąglenie krawędzi */
    margin-bottom: 20px; /* Odstęp między boxem a resztą */
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtelny cień */
}

/* Stylizacja logo w boxie */
.logo img {
    margin: 0 auto;
    width: 350px; /* Dopasuj rozmiar loga */
    margin-bottom: 20px;
}

/* Tytuł w boxie */
.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Ikony w boxie */
.service-options {
    display: flex;
    flex-direction: row; /* Ikonki w rzędzie */
    justify-content: space-evenly; /* Rozłóż ikonki równomiernie */
    align-items: center; /* Wyśrodkuj ikonki pionowo */
    width: 100%; /* Szerokość kontenera */
    margin-top: 20px;
    padding: 10px 0;
}

.service-option {
    background-color: #106EBE;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    min-height: 75px;
    width: 100px;
    transition: background-color 0.3s;
}

    .service-option img {
        margin-bottom: 10px;
        max-width: 75px;
        max-height: 75px;
    }

    .service-option:hover {
        background-color: black;
    }
