.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #106EBE;
    background-image: linear-gradient(135deg ,#1E3D65 , #106EBE);
    color: white;
    min-height: 100vh;
    text-align: center;
    padding: 0; /* Zerowanie paddingu, jeśli istnieje */
    margin: 0; /* Zerowanie marginesów */
}


/* Sekcja z boxem */
.blue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* Kolor tła boxu */
    color: white; /* Kolor tekstu w boxie */
    max-width: 70%; /* Szerokość boxu */
    padding: 0px;
    border-radius: 15px; /* Zaokrąglenie krawędzi */
    margin-bottom: 20px; /* Odstęp między boxem a resztą */
    margin-top: 20px;
}

/* Stylizacja logo w boxie */
.logo img {
    margin: 0 auto;
    width: 350px; /* Dopasuj rozmiar loga */
    margin-bottom: 20px;
}

/* Tytuł w boxie */
.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Ikony w boxie */
.service-options {
    display: flex;
    flex-direction: row; /* Ikonki w rzędzie */
    justify-content: space-evenly; /* Rozłóż ikonki równomiernie */
    align-items: center; /* Wyśrodkuj ikonki pionowo */
    width: 100%; /* Szerokość kontenera */
    margin-top: 20px;
    padding: 10px 0;
}

.service-option {
    background-color: transparent; /* Brązowy kolor */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    min-height: 75px;
    width: 100px;
    transition: background-color 0.3s;
}

    .service-option img {
        margin-bottom: 10px;
        max-width: 75px;
        max-height: 75px;
    }

    .service-option:hover {
        background-color: black;
    }

/* Style dla ekranów o szerokości 768px i mniejszych */
@media (max-width: 768px) {
    .blue-box {
        max-width: 90%; /* Dostosowanie szerokości do małych ekranów */
        padding: 10px; /* Większy odstęp wewnętrzny */
    }

    .logo img {
        width: 200px; /* Zmniejszenie rozmiaru logo */
    }

    .service-options {
        flex-direction: column; /* Ułożenie ikonek w kolumnie */
    }

    .service-option:hover {
        background-color: #1E3D65; /* Zmiana koloru po najechaniu */
    }

        .service-option img {
            max-width: 50px; /* Zmniejszenie rozmiaru ikon */
            max-height: 50px;
        }

    .title {
        font-size: 1.2rem; /* Zmniejszenie rozmiaru czcionki */
    }
}
